body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #FCCDE2;
    padding: 10px 20px;
    text-align: center;
}
header h1 {
    font-size: 60px; 
    margin: 0;       
    color: rgba(173, 128, 214, 0.71);  
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

#logo {
    width: 110px; 
    position: absolute;
    top: 0; 
    left: 0; 
    height: auto;
    padding: 10px;
   
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000;
}

main {
    padding: 20px;
    text-align: center;
}
.content-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

article img {
    max-width: 100%;
    border-radius: 5px;
    height: 100px
}

footer {
    background-color: #FCCDE2;
    color: #333;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}