body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF5F7; /* Pastel rosado */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFAE3; /* Pastel amarillo */
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #FF69B4; /* Color rosado vibrante */
}

.new-post {
    background-color: #FFE4E1; /* Pastel rosado suave */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.new-post input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFB6C1;
    margin-bottom: 10px;
}

.new-post button {
    background-color: #FFB6C1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-post button:hover {
    background-color: #FF69B4;
}

.post {
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post img {
    max-width: 100%;
    border-radius: 10px;
}

.post .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post .actions button {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.post .actions button:hover {
    background-color: #FFB6C1;
}

.comments {
    margin-top: 10px;
}

.comments input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #FFB6C1;
}

.comments button {
    background-color: #FFB6C1;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    text-align: center
}

footer button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #cce7ff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    color: black
}

footer button:hover {
    background-color: #c1d3e0;
}
